    {
      "Title": "地番検索",
      "Layer": {
        "LayerType": "Database",
        "DataType": "postgres",
        "Host": "あなたの情報",
        "Port": "5432",
        "Database": "あなたの情報",
        "User": "あなたの情報",
        "Password": "あなたの情報",
        "Schema": "public",
        "Table": "地籍_地籍Search",
        "Key": "ogc_fid",
        "Geometry": "wkb_geometry",
        "FormatSQL": "view.sql"
      },
      "TibanField": "地番",
      "AzaTable": {
        "DataType": "postgres",
        "Host": "あなたの情報",
        "Port": "5432",
        "Database": "あなたの情報",
        "User": "あなたの情報",
        "Password": "あなたの情報",
        "Schema": "public",
        "Table": "コード表_字",
        "Columns": [
          { "Name": "字コード", "View": "CD" },
          { "Name": "字", "View": "名称" }
        ]
      },
      "SearchFields": [
        {
          "FieldType": "Text",
          "ViewName": "字CD",
          "Field": "字CD"
        },
        {
          "FieldType": "Text",
          "ViewName": "本番",
          "Field": "地番-本番",
          "Fuzzy": 2
        },
        {
          "FieldType": "Text",
          "ViewName": "枝番",
          "Field": "地番-枝番"
        },
        {
          "FieldType": "Text",
          "ViewName": "孫/判",
          "Field": "地番-孫"
        }
      ],
      "SampleFields": ["字CD", "字", "地番"],
      "ViewFields": [
        "字",
        "地番",
        "地目（登記）",
        "所有者CD",
        "漢字氏名",
        "カナ氏名",
        "住所",
        "地籍",
        "m2",
        "筆状態"
      ],
      "Message": "字CD、本番、枝番を入力して検索ボタンを押します\nリストをクリックするとその場所に移動します",
      "SampleTableLimit": 100
    },
    {
      "Title": "所有者検索",
      "Layer": {
        "LayerType": "Database",
        "DataType": "postgres",
        "Host": "あなたの情報",
        "Port": "5432",
        "Database": "sojya",
        "User": "あなたの情報",
        "Password": "あなたの情報",
        "Schema": "public",
        "Table": "地籍_地籍Search",
        "Key": "ogc_fid",
        "Geometry": "wkb_geometry"
      },
      "SearchFields": [
        {
          "FieldType": "Text",
          "ViewName": "漢字氏名",
          "Field": "漢字氏名"
        },
        {
          "FieldType": "Text",
          "ViewName": "カナ氏名",
          "Field": "カナ氏名",
          "KanaHankaku": true,
          "Default": true
        },
        {
          "FieldType": "Text",
          "ViewName": "所有者CD",
          "Field": "所有者CD"
        }
      ],
      "SampleFields": ["所有者CD", "カナ氏名", "住所"],
      "ViewFields": [
        "字",
        "地番",
        "地目（登記）",
        "所有者CD",
        "漢字氏名",
        "カナ氏名",
        "住所",
        "地籍",
        "m2",
        "筆状態"
      ],
      "Message": "漢字氏名、カナ氏名、所有者CDを選択して検索文字列を入力します\n右上の「前方一致」をクリックすると「部分一致」に切り替わります\n検索に「%」を入力することも可能です\n検索ボタンを押しリストをクリックするとその場所に移動します",
      "SampleTableLimit": 100
    },
    {
      "Title": "地籍検索(地番)",
      "Layer": {
        "LayerType": "Name",
        "Name": "地籍",
        "Encoding": "cp932"
      },
      "SearchField": {
        "FieldType": "Text",
        "ViewName": "住所",
        "Field": "住所"
      },
      "ViewFields": []
    },
    {
      "Title": "路線番号",
      "Layer": {
        "LayerType": "Name",
        "Name": "道路管理網図",
        "Encoding": "cp932"
      },
      "SearchField": {
        "FieldType": "Text",
        "ViewName": "路線番号",
        "Field": "路線番号"
      },
      "ViewFields": []
    },
    {
      "Title": "河川・水路番号",
      "Layer": {
        "LayerType": "Name",
        "Name": "河川・水路管理網図",
        "Encoding": "cp932"
      },
      "SearchField": {
        "FieldType": "Text",
        "ViewName": "水路番号",
        "Field": "水路番号"
      },
      "ViewFields": []
    }


